@font-face {
    font-family: "slime";
    src: url("fonts/slime.ttf");
}

@font-face {
    font-family: "regular";
    src: url("fonts/regular.otf");
}

:root {
    --main-grey: #2f2f2f;
    --main-green: #c9eac1;
}

body  {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--main-grey);
    font-family: "regular";
}

h1 {
    padding: 3vh 0 4vh 0;
    font-family: "slime";
    font-size: min(6vh, 3vw);
    margin: 0%;
    color: var(--main-green);
    border-bottom: 1vh solid var(--main-green);
}

button {
    cursor: pointer;
    font-family: inherit;
    color: var(--main-green);
    background-color: var(--main-grey);
    border: min(0.5vh, 0.25vw) outset var(--main-green);
    border-radius: 30%;
}

button:active {
    background-color: #464646;
}

.hidden {
    display: none !important;
}

#play_button {
    grid-column: 2;
    font-size: min(6vh, 3vw);
    height: 10%;
    width: 50%;
    margin: auto;
}

#difficulty_button {
    height: 10%;
    width: 10%;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: min(3vh, 2vw);
}

.root {
    display: grid;
    grid-template-columns: repeat(3, 33.3333333vw);
    height: 84.8vh; /* again dont ask questions */
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.root > div {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10%;
    margin: 16.8vh 3% 16.8vh 3%;
}
/*----------------*/
.hangman {
    grid-column: 1;
}

#hangman {
    height: min(50vh, 25vw);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
/*----------------*/
.main {
    grid-column: 2;
    display: flex;
    flex-direction: column;
}

.main > * {
    margin: auto;
}
#display {
    letter-spacing: 0.5vw;
    font-size: min(4vh, 2vw);
    color: var(--main-green);
}
#letter {
    height: 3vh;
    width: 14vw;
    padding-left: 2%;
    font-size: min(3vh, 1.5vw);
    font-family: inherit;
    color: var(--main-green);
    background-color: var(--main-grey);
    border-width: 0 0 min(0.4vh, 0.2vw) 0;
    border-color: var(--main-grey);
}
#letter:focus {
    outline: none;
    border-color: var(--main-green);
}
#sender {
    height: 6vh;
    width: 12vw;
    font-size: min(3vh, 2vw);
}
/*----------------*/
.letters {
    grid-column: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10% 2vw 10% 2vw;
}

.letters > div {
    color: var(--main-green);
    border: min(0.5vh, 0.25vw) var(--main-green) solid;
    border-radius: 10%;
    font-size: min(4vh, 2vw);
    flex: 0 0 14%;
    height: 0;
    padding-top: 2%; /* no questions asked */
    padding-bottom: 12%;
    margin: 1%;
}
