body  {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #2f2f2f;
}

h1 {
    padding: 4vh 0 5vh 0;
    font-size: 5vh;
    margin: 0%;
    color: #c9eac1;
    background-color: #2f2f2f;
    border-bottom: 1vh solid #aec5a8;
}

button {
    margin: auto;
    cursor: pointer;
    width: 200px;
    height: 50px;
}

.hidden {
    display: none !important;
}

.root {
    display: grid;
    grid-template-columns: repeat(3, 33.3333333vw);
    height: 84vh ;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.root > div {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10%;
    margin: 16.8vh 3% 16.8vh 3%;
}
/*----------------*/
.hangman {
    grid-column: 1;
}

#hangman {
    height: min(50vh, 25vw);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
/*----------------*/
.main {
    grid-column: 2;
    display: flex;
    flex-direction: column;
}

.main > * {
    margin: auto;
}
#display {
    letter-spacing: 0.5vw;
    font-size: min(4vh, 2vw);
    color: #2f2f2f;
}
#letter {
    height: 3vh;
    width: 14vw;
}
#sender {
    height: 6vh;
    width: 12vw;
}
/*----------------*/
.letters {
    grid-column: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10% 2vw 10% 2vw;
}

.letters > div {
    border: 1px black solid;
    border-radius: 10%;
    font-size: min(4vh, 2vw);
    flex: 0 0 14%;
    height: 0;
    padding-top: 4%; /* no questions asked */
    padding-bottom: 10%;
    margin: 1%;
}
